@font-face {
    font-family: "glacial-indifference";
    src: url("fonts/glacial-indifference.ttf") format("truetype");
  }
  
  html {
    height: 100%;
    width: 100%;
    
  }
  body {
    margin-left: auto;
    margin-right:auto;
    padding: 30px;
    font-family: "glacial-indifference";
    
  }
  
  
